<style>
    legend{
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .formulario_sistema{
      width: 300px;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 10px;
    }
    .formulario_sistema_fieldset {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    .formulario_sistema_fieldset div{
      margin-bottom: 10px;
    }
    label{
      display: inline-block;
      width: 100px;
    }
    input[type="submit"]{
      margin-top: 15px;
      border-radius: 5px;
      background-color: #FF6471;
      border: none;
      padding: 5px;
      color: white;
    }
  </style>

<h1>Editar Impresión</h1>
<form action="/sistemaAdmin/editar_impresion/<%= datosEditar.id %>" method="post" class="formulario_sistema">
    <fieldset class="formulario_sistema_fieldset">
    <input type="hidden" maxlength="255" name="id" value="<%= datosEditar.id %>" required />
    <legend>Actualizar Datos de la Impresión</legend>
    <div class="input-container">
        <input type="text" class="input" placeholder="" name="nombre" value="<%= datosEditar.nombre %>" required>
        <label class="input-label">Nombre:</label>
    </div>
    <div class="input-container">
        <input type="text" class="input" placeholder="" name="descripcionDetalleProducto" value="<%= datosEditar.descripciondetalleproducto %>" required>
        <label class="input-label">Descripción:</label>
    </div>
    <div class="input-container">
        <select name="estado" class="input" required>
        <option value="<%= datosEditar.estado %>" selected><%= datosEditar.estado %></option>
        <option value="A" <%= datosEditar.estado === 'A' ? 'selected' : '' %>>A</option>
        <option value="I" <%= datosEditar.estado === 'I' ? 'selected' : '' %>>I</option>
        </select>
        <label class="input-label">Estado:</label>
    </div>
<div class="input-container">
    <input type="number" class="input" placeholder="" name="valor" value="<%= datosEditar.valor %>" min="1" required>
    <label class="input-label">Valor:</label>
</div>
<div>
    <input type="submit" value="Actualizar">
</div>
</fieldset>
</form>