<style>
  legend{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .formulario_sistema{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
  }
  .formulario_sistema_fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .formulario_sistema_fieldset div{
    margin-bottom: 10px;
  }
  label{
    display: inline-block;
    width: 100px;
  }
  input[type="submit"]{
    margin-top: 15px;
    border-radius: 5px;
    background-color: #FF6471;
    border: none;
    padding: 5px;
    color: white;
  }
</style>

<form action="/sistemaAdmin/editar_cliente/<%= datosEditar.id %>"  method="post" class="formulario_sistema">
    <fieldset class="formulario_sistema_fieldset">
      <input type="hidden" maxlength="255" name="id" value="<%= datosEditar.id %>" required />
      <legend>Modificar Cliente</legend>
      <div class="input-container">
        <input type="text" class="input" placeholder="" name="nombre" value="<%= datosEditar.nombre %>" required />
        <label class="input-label" for="nombre">
          Nombre:
          <abbr title="required" aria-label="required">*</abbr>
        </label>
      </div>
      <div class="input-container">
        <input type="text" class="input" placeholder="" name="apellido_paterno" value="<%= datosEditar.apellido_paterno %>"required />
        <label class="input-label" for="apellido_paterno">
          Apellido Paterno:
          <abbr title="required" aria-label="required">*</abbr>
        </label>
      </div>
      <div class="input-container">
        <input type="text" class="input" placeholder="" name="apellido_materno" value="<%= datosEditar.apellido_materno %>"required />
        <label class="input-label" for="apellido_materno">
          Apellido Materno:
          <abbr title="required" aria-label="required">*</abbr>
        </label>
      </div>

      <div class="input-container">
        <input type="text" class="input" placeholder="" name="ci" value="<%= datosEditar.ciPersona %>"required />
        <label class="input-label" for="ci">
          CI:
          <abbr title="required" aria-label="required">*</abbr>
        </label>
      </div>
      
      <div>
        <input type="submit" value="Actualizar datos de Cliente">
      </div>
    </fieldset>
  </form>
